#wrapper{
    margin: 0, auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    height: 95%;
}

#header{
    margin: 0, auto;
    width: 100%;
    text-align: center;
}

h1{
    font-size: 500%;
}

#ethordSubtitle{
    text-align: center;
}

#main-nav{
    text-align: center;
}

li{
    display: inline;
    list-style: none;
}

li, a{
    padding: 3%;
}