@import "compass/css3";

@import "compass/css3/transform";

$stop-1:  #FF3E47;
$stop-2:  #E82CB8;
$stop-3:  #D62CE8;
$stop-4:  #753EFF;
$stop-5:  #3799E8;
$stop-6:  #2C69E8;
$stop-7:  #3EEFFF;

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
              0 -1px 0 $weight rgba($mix-sub-from, .25),
              1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight  rgba($mix-sub-from, .25),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px 1px 0 $weight rgba($to, .75),
              -1px -1px 0 $weight rgba($from, .75);
}

body{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color:#1a1a1a;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAALUlEQVQImWNgAAMhJMCADND4CC5WCaggshycjS6HRRGKIURaicLH7gesAKgIAM3eBUfeK2iaAAAAAElFTkSuQmCC');
  height: 100%;
  width: 100%;
  overflow: hidden;
}

$margin-space: 5px;

$button-size: 50px;
$button-space: 10px;
$num-width: (($button-size*3) + ($button-space*6));
$num-height: 385px;

#numpad{
  position: absolute;
  top: 50%;
  left: 50%;
  height: $num-height;
  width: $num-width;
  margin-top: -$num-height/2-$button-space*2;
  margin-left: -($num-width/2)-$button-space;
  background-color:rgba(25,25,25,0.5);
  font-size: 15px;
  font-weight: 300;
  padding: $button-space*2;
  @include backface-visibility(hidden);
}

#complete{
  position: absolute;
  top: 50%;
  left: 50%;
  height: $num-height;
  width: $num-width;
  margin-top: -$num-height/2-$button-space*2;
  margin-left: -($num-width/2)-$button-space;
  background-color:rgba(25,25,25,0.5);
  font-size: 15px;
  font-weight: 300;
  padding: $button-space*2;
  line-height: 380px;
  text-align: center;
  @include backface-visibility(hidden);
  @include rotateY(180deg, 1000);
}

$notice-w-padding: 5px;
$notice-h-padding: 10px;

#notice{
  position: relative;
  float: left;
  clear: both;
  width: $num-width;
  padding: $button-space 0;
  text-align: center;
  margin-bottom: $margin-space;
}

#notice::selection { 
  background: transparent;
}

#password{
  position: relative;
  float: left;
  clear: both;
  width: $num-width -($notice-w-padding*2);
  padding: $notice-h-padding/2 $notice-w-padding;
  text-align: center;
  margin-bottom: $margin-space;
}

#password::selection { 
  background: transparent;
}

$bleep-size: 42px;

.bleep {
  position: relative;
  display:inline-block;
  width: $bleep-size;
  height: $bleep-size;
  margin: 0 2px;
  background: rgba(0,0,0,0.6);
  border-radius: 50px;
}
.bleep label {
  width: $bleep-size;
  height: $bleep-size;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.bleep label:after {
  content: '';
  width: $bleep-size/2;
  height: $bleep-size/2;
  position: absolute;
  top: $bleep-size/4;
  left: $bleep-size/4;
  opacity: 0;
  border-radius: 50px;
}

#bleep-one-display label:after {
  background: $stop-1;
}

#bleep-two-display label:after {
  background: $stop-3;
}

#bleep-three-display label:after {
  background: $stop-5;
}

#bleep-four-display label:after {
  background: $stop-7;
}

.bleep input[type=checkbox] {
  visibility: hidden;
}

.bleep input[type=checkbox]:checked + label:after {
  opacity: 1;
}

$password-size: 36px;

.password-indicator{
  height: $password-size;
  width: $password-size;
  cursor: pointer;
  padding: 2px 0;
  margin: 0 3px;
}

#num{
  position: relative;
  float: left;
  clear: both;
  width: $num-width;
  text-align: center;
  margin-bottom: $margin-space;
  padding-bottom: $button-space;
}

$border : 2px;

.button{
  position: relative;
  float: left;
  height: $button-size;
  width: $button-size;
  margin: $button-space;
  
  color: #9a9a9a;  
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  
  border-radius: 50px;
}

#button-1{
  @include border-gradient($stop-1, $stop-2);
}

#button-2{
  @include border-gradient($stop-2, $stop-3);
}

#button-4{
  @include border-gradient($stop-2, $stop-3);
}

#button-3{
  @include border-gradient($stop-3, $stop-4);
}

#button-5{
  @include border-gradient($stop-3, $stop-4);
}

#button-7{
  @include border-gradient($stop-3, $stop-4);
}

#button-8{
  @include border-gradient($stop-4, $stop-5);
}

#button-6{
  @include border-gradient($stop-4, $stop-5);
}

#button-c{
  @include border-gradient($stop-4, $stop-5);
}

#button-9{
  @include border-gradient($stop-5, $stop-6);
}

#button-0{
  @include border-gradient($stop-5, $stop-6);
}

#button-e{
  @include border-gradient($stop-6, $stop-7);
}

.button::selection { 
  background: transparent;
}

.button:hover { 
  color: #fff;
}