#wrapper{
    margin: 0, auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    height: 95%;
}

#header{
    margin: 0, auto;
    width: 100%;
    text-align: center;
}

h1{
    font-size: 400%;
}

#ethordSubtitle{
    text-align: center;
}

#main-nav{
    text-align: left;
    width: 30%; 
    float: left;
    height: 90%;
    overflow: scroll;
}

li{
    display: inline;
    list-style: none;
    font-size: 125%;
}

li, a{
    padding: 3%;
}

.button{
    margin: 3%;
    padding: 2%;
    border-radius: 7%;
}

#script{
    float: left;
    width: 70%;
    height: 90%;
}

#script h2{
    line-height: none;
    font-size: 120%;
}
#script p{
    line-height: 250%;
    font-size: 120%;
}